@import "./reset.css";

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/* Main Section */

.header {
    background-color: rgba(0, 0, 0, .6);
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.main-logo {
    display: inline-block;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    left: 15px;
    top: 14px;
}

.main-logo-block {
    display: inline-block;
    background-image: url('../img/logo/hexagon.png');
    width: 58px;
    height: 67px;
}

.logo-text {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-left: 8px;
}

.selected {
    color: #18cfab;
}

.navbar-menu {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-link {
    text-transform: uppercase;
    color: #b8b8b8;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    position: relative;
}

.navbar-link:hover {
    color: #18cfab;
}

.navbar-link:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    top: 64px;
    left: 0px;
}

.search {
    color: #bbbbbb;
    font-size: 17px;
    cursor: pointer;
}

.search:hover {
    color: #18cfab;
}

.main-section {
    background-image: url('../img/backgrounds/mainBg.png');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(67, 65, 56, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-info {
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.titles {
    font-weight: 700;
}

.title-slogan {
    font-size: 35px;
}

.main-title {
    padding-top: 45px;
    padding-bottom: 36px;
    font-size: 79px;
}

.main-subtitle {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.main-btns {
    margin-top: 146px;
}

.explore-btn {
    background-color: #18cfab;
    margin-right: 28px;
}

.purchase-btn {
    background-color: #00cbf6;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 26px 32px;
    border-radius: 5px;
    border-top: 4px solid #fff;
    display: inline-block;
}

.explore-btn:hover {
    background-color: #00cbf6;
}

.purchase-btn:hover {
    background-color: #18cfab;
}

/*Feature Section*/

.features {
    display: flex;
    justify-content: center;
}

.feature-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
}

.feature-text {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-item:nth-child(odd) {
    border-top: 7px solid #18cfab;
    padding-top: 90px;
    background-color: #1c2a33;
}

.feature-item:nth-child(even) {
    border-top: 7px solid #fff;
    padding-top: 115px;
    background-color: #18cfab;
}

.feature-text:nth-child(odd) {
    padding-top: 49px;
    color: #18cfab;
}

.feature-text:nth-child(even) {
    padding-top: 69px;
    color: #fff;
}


/*Service Section*/

.service {
    padding-top: 82px;
    padding-bottom: 105px;
    text-align: center;
}

.section-title {
    display: inline-block;
    color: #4e4e4e;
    font-size: 36px;
    position: relative;
    margin-bottom: 90px;
}

.section-title::before {
    content: '';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    top: 74px;
    left: 60px;
}

.section-title::after {
    content: '';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    top: 80px;
    right: 50px;
}

.service-menu {
    display: flex;
    justify-content: center;
}

.service-menu-item {
    text-decoration: none;
    color: #717171;
    font-size: 16px;
    padding: 28px 0;
    width: 192px;
    transition: .5s;
    position: relative;
}

.service-menu-item.active {
    background-color: #18cfab;
    color: #fff;
}

.service-menu-item.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 85px;
    width: 0;
    height: 0;
    border-top: 10px solid #18cfab;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.service-menu-item:hover {
    background-color: #18cfab;
    color: #fff;
    transition: .5s;
}

.service-menu-item:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 85px;
    width: 0;
    height: 0;
    border-top: 10px solid #18cfab;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.service-info {
    display: none;
    margin-top: 24px;
}

.service-info.active {
    display: flex;
    margin-top: 24px;
}

.service-img {
    width: 194px;
    height: 139px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #a29f95;
}

.service-text {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.39px;
    text-align: justify;
}

/*Purchase Section*/

.purchase {
    background-image: url('../img/backgrounds/section-2.png');
    background-blend-mode: multiply;
    background-color: rgba(14, 13, 13, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 128px 0;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 97px;
}

.purchase-title {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.46px;
    text-transform: uppercase;
}

.purchase-subtitle {
    padding-top: 35px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
}

.purchase-section-btn {
    margin-top: 76px;
    background-color: #18cfab;
    padding: 26px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.purchase-section-btn:hover {
    transition: .5s;
    background-color: #00cbf6;
}

.purchase-section-btn:not(:hover) {
    transition: .5s;
}

/*Our Amazing Work Section*/

.our-work {
    text-align: center;
    margin-bottom: 184px;
}

.our-work-title {
    margin-bottom: 101px;
}

.section-title.our-work-title::after {
    content: '';
    left: 110px;
}

.section-title.our-work-title::before {
    content: '';
    left: 90px;
}

.our-work-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.work-menu-item {
    text-decoration: none;
    color: #717171;
    font-size: 14px;
    border: 1px solid #ebebeb;
    padding: 22px 25px;
    position: relative;
    transition: .5s;
}

.work-menu-item.active {
    color: #18cfab;
}

.work-menu-item.active::before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #18cfab;
    top: 0;
    right: 0;
    left: 0;
}

.work-menu-item:hover {
    color: #18cfab;

}

.work-menu-item:hover::before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #18cfab;
    top: 0;
    right: 0;
    left: 0;
}


.our-work-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 71px;
}

.work-img-container,
.our-work-img {
    width: 284px;
    height: 206px;
}

.work-img-container.active {
    display: block;
}

.work-img-container {
    display: none;
    position: relative;
    cursor: pointer;
}

.work-img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-top: 3px solid #18cfab;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.work-img-container:hover .work-img-info {
    animation: showWorkInfo 2s;
    opacity: 1;
}

.work-img-container:not(:hover) .work-img-info {
    opacity: 0;
    animation: hideWorkInfo 2s;
}

.work-img-link {
    color: #18cfab;
    border: 1px solid #18cfab;
    padding: 13px;
    border-radius: 50px;
}

.work-img-search {
    color: #fff;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    padding: 13px;
    border-radius: 50px;
}

.work-img-features {
    margin-bottom: 34px;
}

.work-img-img-title {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.work-img-section {
    padding-top: 14px;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

@keyframes showWorkInfo {
    from {
        opacity: 0;
        top: -100%;
        left: -50%;
    }

    50% {
        top: 0;
        opacity: 0.5;
    }

    to {
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes hideWorkInfo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.load-btn {
    display: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #18cfab;
    padding: 23px 19px;
    border-radius: 7px;
}

.plus {
    padding-right: 5px;
}

.load-btn.active {
    display: inline-block;
}

.hidden-imgs {
    display: none;
}

/*Breaking News*/
.news {
    text-align: center;
}

.news-title {
    margin-bottom: 105px;
}

.section-title.news-title::after {
    content: '';
    left: 110px;
}

.section-title.news-title::before {
    content: '';
    left: 95px;
}

.news-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-post-item {
    cursor: pointer;
    width: 263px;
    position: relative;
}

.news-post-item:hover .news-post-title {
    transition: .5s;
    color: #18cfab;
}

.news-post-item:hover .news-date {
    transition: .5s;
    background-color: #18cfab;
}

.news-post-item:not(:hover) .news-post-title {
    transition: .5s;
}

.news-post-item:not(:hover) .news-date {
    transition: .5s;
}

.news-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.new-img {
    width: 263px;
}

.news-description {
    height: 72px;
    width: 261px;
    position: relative;
    bottom: 2px;
    border: 1px solid #ebebeb;
    margin-bottom: 45px;
}

.news-post-title {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 14px;
    padding-left: 15px;
}

.news-author {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-top: 14px;
    padding-left: 19px;
}

.author {
    padding-right: 10px;
}

.comment {
    padding-left: 10px;
}


/*Slider Section*/

.review {
    background-image: url("../img/backgrounds/section-3.png");
    background-blend-mode: multiply;
    background-color: rgba(67, 65, 56, 0.6);
    text-align: center;
    padding-top: 99px;
}

.review-title {
    color: #fff;
    font-size: 36px;
    /* display: block; */
    margin-bottom: 105px;
    position: relative;
}

.section-title.review-title::after {
    content: '';
    right: 225px;
}

.section-title.review-title::before {
    content: '';
    left: 182px;
}

.quotes {
    display: block;
    margin: 0 auto;
    padding-bottom: 43px;
}

.swiper-container {
    padding-bottom: 150px;
}

.swiper-slide {
    text-align: center;
}

.review-text {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 43px;
    line-height: 30px;
}

.review-author {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.review-job {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 37px;
}


.reviewer {
    width: 143px;
    height: 142px;
    border: 3px solid #074949;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(24, 207, 171, .3);
}



.nav-btn {
    color: #bbb;
    border: 1px solid #bbb;
    padding: 10px 10px;
    top: 90%;
}

.swiper-pagination-bullet {
    width: 60px;
    height: 60px;
    border: 1px solid #074949;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, .3);
}

.swiper-pagination-bullet:first-child {
    background-image: url("../img/reviewers/first_reviewer.png");
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(2) {
    background-image: url("../img/reviewers/first_reviewer.png");
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(3) {
    background-image: url("../img/reviewers/third_reviewer.png");
    background-size: cover;
}

.swiper-pagination-bullet:nth-child(4) {
    background-image: url("../img/reviewers/fourth_reviewer.jpg");
    background-size: cover;
}

.swiper-pagination-bullet-active {
    position: relative;
    bottom: 15px;
}

/* Footer */

.footer {
    background-color: #22353f;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.copy {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    padding: 47px;
    text-align: center;
}